<!-- modal to add members -->

<body>
  <h3>1st shift members</h3>

  <h3>2nd shift members</h3>

  <h3>3rd shift members</h3>


  <button>Add members</button>

  <div id="addMemberModal">



  </div>
</body>